<div id="<%= dom_id profile %>">
  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= profile.short_description %>
  </p>

  <p>
    <strong>About:</strong>
    <%= profile.about %>
  </p>

  <p>
    <strong>Connections:</strong>
    <%= profile.connections %>
  </p>

</div>
